# 🚀 Node.js & Express (Backend)
server/node_modules/
server/package-lock.json
server/.env
server/.DS_Store
server/dist/
server/logs/
server/debug.log
crypto_predictor/models/

crypto-frontend

# 🚀 React (Frontend)
crypto-frontend/node_modules/
crypto-frontend/package-lock.json
crypto-frontend/.env
crypto-frontend/.DS_Store
crypto-frontend/build/
crypto-frontend/.parcel-cache/
crypto-frontend/.next/
crypto-frontend/yarn.lock


# 🛠️ OS/IDE Specific
*.log
*.swp
*.swo
.vscode/
.idea/
.DS_Store
*.bak
*.tmp

# 🔥 MongoDB Data (Avoid committing local DB files)
*.json
*.dump
dump/
data/
mongodb.log

.venv

